body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  font-size: 20px;
  color: #40413c;
}

body::-webkit-scrollbar {
  width: 5px;
  background: white;
}
body::-webkit-scrollbar-thumb {
  background: lightblue;
  height:30px;
}

.ParallaxVideo {
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0;
}
.ParallaxVideo video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
  filter: blur(5px);
  transform: scale(1.1);
}

img {
  min-width: 250px;
  width: 85%;
}

ul li {
  margin-top: 7px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 5px;
}

.parent {
  display: flex;
  justify-content: center;
}

.box {
  width: 700px;
  height: 300px;
  margin: 5px;
}
.h1div {
  background-color: #b8b7cdd0;
  border-radius: 15px;
  margin: 30px 0;
  padding: 15px 50px;
}
.listarea {
  color: #f8f0e3;
  background-color: #242126d0;
  border-radius: 15px;
  margin: 30px 0;
  padding: 15px 50px;
}

.listarea ul {
  padding: 0;
  list-style: none;
}

.listarea li {
  color: #242126;
  padding: 15px;
  font-size: 25px;
  background-color: #aca8bb;
  border-radius: 10px;
}

.videoarea {
  color: #d9d2bb;
  background-color: #223f71d0;
  border-radius: 15px;
  margin: 30px 0;
  padding: 15px 50px;
  font-size: 25px;
}

.images {
  text-align: center;
}

.images img {
  padding-bottom: 20px;
}

.catbox {
  background-color: #A09175D0;
  color: #242126;
  border-radius: 15px;
  margin: 30px 0;
  padding: 15px 50px;
}
